Repository AndreasAugustin/go-gitmoji-cli, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci

.github/labeler.yml:

# this file is for the labeler workflow job
# Documentation https://github.com/marketplace/actions/labeler
documentation:
  - docs/**/*
  - .github/*
  - ./*.md

ci:
  - .dependabot/*
  - .github/workflows/*

chore: project setup :rocket:
  .editorconfig
  .gitignore
  .idea/.gitignore
  .idea/go-gitmoji-cli.iml
  .idea/modules.xml
  .idea/vcs.xml
  LICENSE
  Makefile
  README.md
  TODO.md
  cmd/commit.go
  cmd/config.go
  cmd/init.go
  cmd/list.go
  cmd/remove.go
  cmd/root.go
  cmd/search.go
  go.mod
  go.sum
  info.txt
  main.go
  pkg/config.go
  pkg/config_test.go
  pkg/models.go
  pkg/models_test.go
  pkg/test_data/.gitmojirc.json
Labels: documentation

feat: add search :tada:
  TODO.md
  cmd/list.go
  cmd/search.go
  go.mod
  go.sum
  pkg/fmt.go
  pkg/http.go
Labels: documentation

feat: implementations :tada:
  TODO.md
  cmd/commit.go
  cmd/config.go
  cmd/hooks.go
  cmd/list.go
  cmd/remove.go
  cmd/root.go
  cmd/search.go
  go.mod
  go.sum
  pkg/config.go
  pkg/fmt.go
  pkg/hooks.go
  pkg/hooks_test.go
  pkg/models.go
  pkg/pompts.go
  pkg/ui/list.go
  pkg/ui/spinner.go
  pkg/utils/command.go
  pkg/utils/command_test.go
  pkg/utils/file.go
  pkg/utils/file_test.go
  pkg/utils/git.go
  pkg/utils/git_test.go
Labels: documentation

feat: implementations :tada:
  cmd/commit.go
  cmd/config.go
  cmd/hooks.go
  cmd/root.go
  info.txt
  pkg/config.go
Labels: none

feat: add/remove git hook :tada:
  pkg/hooks.go
  pkg/utils/file.go
  pkg/utils/file_test.go
Labels: none

feat: commit addons :tada:
  TODO.md
  cmd/commit.go
  cmd/config.go
  cmd/hooks.go
  cmd/list.go
  cmd/root.go
  pkg/ui/list.go
  pkg/ui/spinner.go
  pkg/ui/textarea.go
  pkg/ui/textinputs.go
Labels: documentation

style: fix lint issues :rotating_light:
  .github/CODE_OF_CONDUCT.md
  README.md
Labels: documentation

doc: add some docs :memo:
  README.md
Labels: documentation

chore: add ci :construction_worker:
  .github/workflows/ci_go.yml
Labels: ci

chore: add ci :construction_worker:
  .github/workflows/ci_go.yml
  README.md
  pkg/hooks_test.go
Labels: documentation, ci

Chore/ci (#3)
  .github/CODE_OF_CONDUCT.md
  .github/workflows/ci_go.yml
  README.md
  TODO.md
  cmd/commit.go
  cmd/config.go
  cmd/hooks.go
  cmd/list.go
  cmd/root.go
  pkg/hooks.go
  pkg/hooks_test.go
  pkg/ui/list.go
  pkg/ui/spinner.go
  pkg/ui/textarea.go
  pkg/ui/textinputs.go
  pkg/utils/file.go
  pkg/utils/file_test.go
Labels: documentation, ci

Update LICENSE
  LICENSE
Labels: none

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

feat: add config write :tada:
  .gitignore
  README.md
  TODO.md
  cmd/commit.go
  cmd/config.go
  cmd/list.go
  go.mod
  go.sum
  pkg/config.go
  pkg/config_test.go
  pkg/test_data/.gitmojirc.json
  pkg/ui/confirmation.go
  pkg/ui/list.go
  pkg/ui/spinner.go
  pkg/ui/textarea.go
  pkg/ui/textinput.go
Labels: documentation

feat: add config write :tada:
  pkg/pompts.go
  pkg/ui/confirmation.go
  pkg/ui/textinput.go
Labels: none

chore: add golang to dependabot, add go vet to ci :construction_worker:
  .github/dependabot.yml
  .github/workflows/ci_go.yml
  Makefile
  TODO.md
Labels: documentation, ci

feat: change config prompts :ninja:
  cmd/config.go
  main.go
  pkg/config.go
  pkg/models.go
  pkg/ui/confirmation.go
  pkg/ui/textinput.go
Labels: none

chore: trial for release action :construction_worker:
  .github/workflows/release_go.yml
Labels: ci

feat: change config prompts :ninja:
  .github/workflows/release_go.yml
  TODO.md
Labels: documentation, ci

chore: test for deployment :ninja:
  .github/workflows/release_go.yml
Labels: ci

feat: add gitmoji cache, add global config :tada:
  .goreleaser.yaml
  README.md
  TODO.md
  cmd/config.go
  cmd/info.go
  cmd/root.go
  cmd/update.go
  go.mod
  go.sum
  pkg/config.go
  pkg/config_test.go
  pkg/gitmoji.go
  pkg/gitmoji_test.go
  pkg/http.go
  pkg/log.go
  pkg/models.go
  pkg/utils/file.go
  pkg/utils/os.go
  pkg/utils/os_test.go
Labels: documentation

chore: add unit tests :white_check_mark:
  cmd/commit.go
  cmd/commit_test.go
  cmd/config.go
  cmd/config_test.go
  cmd/hooks.go
  cmd/hooks_test.go
  cmd/info.go
  cmd/info_test.go
  cmd/list.go
  cmd/list_test.go
  cmd/root.go
  cmd/root_test.go
  cmd/update.go
  cmd/update_test.go
  pkg/config.go
  pkg/config_test.go
  pkg/models.go
  pkg/ui/confirmation_test.go
  pkg/ui/list_test.go
  pkg/ui/spinner_test.go
  pkg/ui/textarea_test.go
  pkg/ui/textinput_test.go
  pkg/ui/textinputs_test.go
Labels: none

feat: add more commit options :tada:
  TODO.md
  cmd/commit.go
  cmd/config.go
  pkg/ui/list.go
  pkg/ui/styles.go
  pkg/ui/textinput.go
  pkg/ui/textinput_test.go
  pkg/ui/textinputs.go
Labels: documentation

docs: update todo :memo:
  TODO.md
Labels: documentation

feat: add check for installed hooks :tada:
  Dockerfile
  TODO.md
  cmd/commit.go
  cmd/hooks.go
  pkg/hooks.go
Labels: documentation

feat (msg): add nice commit msg format :tada:
  README.md
  cmd/commit.go
  pkg/commit.go
  pkg/commit_test.go
Labels: documentation

feat: add figlet :sparkles:
  cmd/root.go
  go.mod
  go.sum
  pkg/config.go
Labels: none

feat: add option to sign commits. edit the long messages :sparkles:
  README.md
  TODO.md
  cmd/commit.go
  cmd/config.go
  cmd/hooks.go
  cmd/info.go
  cmd/list.go
  cmd/update.go
  pkg/config.go
  pkg/config_test.go
  pkg/models.go
Labels: documentation

feat: :sparkles: switch to commit body in main prompt
  README.md
  TODO.md
  cmd/commit.go
  cmd/config.go
  pkg/config.go
  pkg/config_test.go
  pkg/models.go
  pkg/ui/textarea.go
  pkg/ui/textarea_test.go
  pkg/ui/textinputs.go
Labels: documentation

test: :white_check_mark: add some unit tests
  cmd/commit.go
  pkg/commit_test.go
  pkg/utils/command.go
  pkg/utils/command_test.go
  pkg/utils/git.go
  pkg/utils/git_test.go
Labels: none

test: :white_check_mark: add some unit tests
  pkg/utils/git.go
  pkg/utils/git_test.go
Labels: none

feat: :sparkles: add commit functionality
  cmd/commit.go
  pkg/commit.go
  pkg/utils/git.go
Labels: none

feat: :sparkles: add hook functionality
  Makefile
  TODO.md
  cmd/hooks.go
  go.mod
  pkg/commit.go
  pkg/commit_test.go
  pkg/hooks.go
Labels: documentation

"feat: :sparkles: add hook functionality"
  cmd/commit.go
  cmd/config.go
  cmd/hooks.go
  pkg/commit.go
  pkg/commit_test.go
  pkg/hooks.go
  pkg/hooks_test.go
  pkg/models.go
  pkg/ui/textinputs.go
Labels: none

docs: :memo: fix lint issues within documentation
  .markdownlintrc
  README.md
Labels: documentation

chore: trial for release action :construction_worker:
  .github/workflows/lint.yml
  Makefile
  README.md
  TODO.md
  cmd/hooks.go
  docker-compose.yml
  pkg/hooks_test.go
  pkg/utils/git_test.go
Labels: documentation, ci

chore: trial for release action :construction_worker:
  golangci.yml
Labels: none

docs: :memo: add some usage documentation and nice gifs
  .gitattributes
  Makefile
  README.md
  docs/Makefile
  docs/assets/commit.gif
  docs/assets/config.gif
  docs/assets/help.gif
  docs/assets/list.gif
  docs/assets/version.gif
  docs/commit.tape
  docs/config.tape
  docs/help.tape
  docs/list.tape
  docs/version.tape
Labels: documentation

chore: :construction_worker: update some workflows
  .github/workflows/greetings.yml
  .github/workflows/label.yml
  .github/workflows/lint.yml
  .github/workflows/stale.yml
Labels: ci
